/*
NI Team Gateway Design
Date: 22. 01. 2015.
Author: Armin
Version: 0.1
*/

/* =Imports */

@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

/* =Base */

body {
    background-color: #ffffff;
    background-image: url(../images/background_full.jpg);
	background-repeat: no-repeat;
}

h1 {
	background-color: #000;
    color: #fff;
	font-size: 20px;
    margin: 0;
    padding: 10px;
    text-align: center;
}

h2 {
	background-color: #000;
	color: #fff;
    font-size: 20px;
    left: -25px;
	line-height: 50px;
	position: relative;
	text-align: center;
	width: 50px;
}

h3 {
	font-size: 16px;
	line-height: 50px;
    margin: -55px 0 20px 25px;
    padding: 10px;
}

button {
    background-color: #ffffff;
    border: 0;
    margin: 0 20px 20px 20px;
    padding: 0;
}

label {
    font-weight: 300;
    margin-left: 30px;
    width: 150px;
}

select {
    width: 200px;
}

/* =Layout */

.gateway_wrapper {
	background-color: #ffffff;
    border: 1px solid #ccc;
	margin-bottom: 20px;
	margin-top: 50px;
}

.border_one {
	border: 1px solid #ccc;
}

.padding_one {
	padding: 10px;
}

/* =Modules =gateway_wrapper */


.custom_progress {
    background-color: #ccc;
	margin: 20px 0;
}

.progress {
    border-radius: 0;
}

.progress-bar {
    background-color: #d9534f;
}

.gateway_rate_box {
    text-align: center;
}

.fa-thumbs-up {
	color: green;
}

.fa-thumbs-down {
	color: red;
}

.gateway_info_box {
    padding: 0 20px 20px 20px;
}

.gateway_hashtag_box {
	margin: 0 20px;
}

.gateway_comment_box {
    margin: 0 20px 20px 20px;
}

.hashtag_box {
	border-radius: 4px;
	margin: 0 0 20px 0; 
	overflow: hidden;
	width: 100%;
}

.comment_box {
	border-radius: 4px;
	height: 200px;
    width: 100%;
}

.submit_comment {
    background-color: #000;
    color: #fff;
    margin: 20px 0 0 0;
	padding: 4px;
}

.left_sidebar {
    margin-top: 100px;
    padding: 20px 30px 20px 20px;
	text-align: center;
	width: 300px;
}

/* =Modules =left_sidebar */

.left_sidebar_h2 {
	background: none;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	color: #333;
	font-size: 25px;
	left: 0;
	padding: 40px 0;
	position: static;
	width: auto;
}

.left_sidebar_h3 {
    margin: 0;
}

.left_sidebar img {
    margin: 25px 0;
}

.left_sidebar .text_top {
    margin: 20px 0;
    text-align: left;
}

.text_bottom {
    font-size: 20px;
}

/* =Animations */

.gateway_step2positive, .gateway_step2negative, .gateway_step3 {
    display: none;
}