/*
Business page CSS
Date: 13. 02. 2015.
Author: Armin
Version: 1.0

Contents:
Imports
Eric Mayer's Reset CSS
Bootstrap Grid
Base
Modules
=Business info module
=Business map module
=Business reviews module
=Business rate and review module
=Business about module
=Business video module
=Business footer module
=Business right menu module
Layout
Responsive

*/

/* =Imports */

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700");

/* =Eric Mayer's Reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* =Bootstrap grid */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}a{color:#337ab7;text-decoration:none}a:hover,a:focus{color:#23527c;text-decoration:underline}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}figure{margin:0}img{vertical-align:middle}.img-responsive{display:block;max-width:100%;height:auto}.img-rounded{border-radius:6px}.img-thumbnail{padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;display:inline-block;max-width:100%;height:auto}.img-circle{border-radius:50%}hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}.row{margin-left:-15px;margin-right:-15px}.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after{content:" ";display:table}.clearfix:after,.container:after,.container-fluid:after,.row:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right !important}.pull-left{float:left !important}.hide{display:none !important}.show{display:block !important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none !important;visibility:hidden !important}.affix{position:fixed}  
	
/* =Base */
	
.business_profile_body {
	background: url(../gateway_wireframe/background_full_.jpg) no-repeat center center fixed; 
	background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	-webkit-background-size: cover;
	font: 16px/1.3 'Roboto', sans-serif;
	letter-spacing: normal;
}
	
.business_profile_button {
	background-color: #333333;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	padding: 5px;
	text-align: center;
	width: 150px;
	
}
	
.business_profile_button:hover {
	color: #6075a6;
	text-decoration: none;
}
	
.clear {
	clear: both;
}
	
/* =Modules */
	
/* ==Business info module */
	
.business_info_module {
	background: #ffffff;
	border: 1px solid #cccccc;
	
}
	
.business_info_gallery_img {
	border-bottom: 1px solid #cccccc;
	width: 100%;
}
	
.business_info_company_name {
	margin: 20px;
}
	
.business_info_company_name_h1 {
	font: 32px/1.3 'Alegreya', serif;
}
	
.business_info_adspace {
	margin: 0 20px;
}
	
.business_info_adspace_img {
	width: 100%;
}
	
.business_info_content {
	overflow: auto;
}
	
.business_info_content_h2 {
	margin: 20px;
	font: 26px/1.3 'Alegreya', serif;
}
	
.business_info_content_ul {
	margin: 20px 20px 0 20px;
	overflow: auto;
	border: 1px solid #cccccc;
}
	
.business_info_content_li:nth-child(odd) {
	width: 30%;
}
	
.business_info_content_li:nth-child(even) {
	width: 70%
}
	
.business_info_content_li {
	float: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 5px 10px;
	border-bottom: 1px solid #cccccc;
}

	
.business_info_content_li:last-of-type, .business_info_content_li:nth-last-of-type(2) {
	border-bottom: none;
}
	
.business_info_social_ribbon {
	margin: 0 20px 20px 20px;
	border: 1px solid #cccccc;
	border-top: 0;
	overflow: auto;
}
	
.business_info_social_ribbon_wrapper {
	margin: 10px;
}
	
.business_info_social_icon_f, .business_info_social_icon_t, .business_info_social_icon_e {
	color: #333333;
}
	
.business_info_social_icon_f:hover {
	color: #6075a6;
}
	
.business_info_social_icon_t:hover {
	color: #00aced;
}
	
.business_info_social_icon_e:hover {
	color: #d9534f;
}
	
.business_info_company_description {
	margin: 0 20px 20px 20px;
}
	
.business_info_company_description_h4 {
	font: 22px/1.3 'Alegreya', serif;
	margin: 0 0 20px 0;
	border-bottom: 1px dashed #cccccc;
}
	
/* =Business map and tags module */
	
.business_map_tags_module {
	margin: 0 20px;
	border: 1px solid #cccccc;
}
	
.business_map_tags_module_tags {
	width: 50%;
	float: left;
	border-right: 1px solid #cccccc;
	height: 250px;
	overflow: hidden;
}
	
.map_tags_module_tags_rating {
	margin: 20px;
}
	
.map_tags_module_tags_rating_h5 {
	font: 20px/1.3 'Alegreya', serif;
	border-bottom: 1px dashed #cccccc;
	margin: 0 0 10px 0;
}
	
.map_tags_module_tags_tags {
	margin: 0 20px 20px 20px;
}
	
.map_tags_module_tags_tags_h5 {
	font: 20px/1.3 'Alegreya', serif;
	border-bottom: 1px dashed #cccccc;
	margin: 0 0 10px 0;
}
	
.map_tags_module_tags_tags_ul {
	overflow-y: scroll;
	height: 90px;
}
	
.business_map_tags_module_map {
	width: 50%;
	float: left;
}
	
.google_map {
	height: 250px;
}
	
/* =Business additional info module */
	
.business_additional_info_module {
	margin: 20px;
}
	
.business_additional_info_h4 {
	font: 22px/1.3 'Alegreya', serif;
	margin: 0 0 20px 0;
	border-bottom: 1px dashed #cccccc;
}
	
.business_additional_info_ul {
	border: 1px solid #cccccc;
	overflow: auto;
}
	
.business_additional_info_li:nth-child(odd) {
	width: 30%;
}
		
.business_additional_info_li:nth-child(even) {
	width: 70%;
}
	
.business_additional_info_li {
	float: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 5px 10px;
	border-bottom: 1px solid #cccccc;
}
	
.business_additional_info_li:last-of-type, .business_additional_info_li:nth-last-of-type(2) {
	border-bottom: none;
}
	
.business_additional_info_company_age {
	margin: 20px 0 0 0;
}
	
.business_additional_info_company_age_h5 {
	font: 20px/1.3 'Alegreya', serif;
	margin: 0 0 20px 0;
	border-bottom: 1px dashed #cccccc;
}
	
.company_age_items {
	width: 50%;
}
	
.company_age_items_li:nth-child(odd) {
	width: 20%;
	float: left;
	text-align: center;
}
	
.company_age_items_li:nth-child(even) {
	width: 80%;
	float: left;
}
	
.business_additional_info_directors {
	margin: 20px 0 0 0;
}
	
.business_additional_info_directors_h5 {
	font: 20px/1.3 'Alegreya', serif;
	margin: 0 0 20px 0;
	border-bottom: 1px dashed #cccccc;
}
	
.business_additional_info_names {
	margin: 20px 0 0 0;
}
	
.business_additional_info_names_h5 {
	font: 20px/1.3 'Alegreya', serif;
	margin: 0 0 20px 0;
	border-bottom: 1px dashed #cccccc;
}
	
/* =Business reviews module*/
	
.business_reviews_module {
	margin: 20px 0 0 0;
}
	
.business_reviews_h4 {
	background-color: #333333;
	color: #fff;
	font: 22px/1.3 'Alegreya', serif;
	padding: 5px 10px;
}
	
.business_reviews_navigation {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}
	
.business_navigation_button {
	background-color: #333333;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	margin: 0 10px;
	padding: 5px;
	text-align: center;
	width: 150px;
}
	
.business_navigation_button:hover {
	color: #6075a6;
	text-decoration: none;
}
	
.reviews {
	overflow: auto;
}
	
.review {
	background: #ffffff;
	border: 1px solid #cccccc;
	margin-bottom: 20px;
}
	
.review_title {
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	float: left;
	font: 18px/1.3 'Alegreya', serif;
	overflow: auto;
	padding: 10px;
	width: 70%;
}
	
.rating_title {
	border-bottom: 1px solid #cccccc;
	float: right;
	font: 18px/1.3 'Alegreya', serif;
	overflow: auto;
	padding: 10px 5px;
	text-align: center;
	width: 30%;
}
	
.review_content {
	border-right: 1px solid #cccccc;
	float: left;
	overflow: auto;
	padding: 20px;
	width: 70%;
}
	
.rating_content {
	float: right;
	margin: 20px 0;
	overflow: auto;
	text-align: center;
	width: 30%;
}
	
.review_ribbon {
	border-top: 1px solid #cccccc;
	overflow: auto;
}
	
.data_ribbon {
	float: left;
	overflow: auto;
	width: 70%;
}
	
.reply_ribbon {
	float: right;
	overflow: auto;
	padding: 10px 0;
	text-align: center;
	width: 30%;
}

.positive_votes, .negative_votes, .calendar_date, .replies {
	border: 1px solid #cccccc;
	display: inline-block;
	margin: 10px;
	padding: 5px;
}
	
/* ==Business rate and review module */
	
.business_rate_review_module {
	background-color: #ffffff;
	border: 1px solid #cccccc;
}
	
.business_rate_review_h4 {
	background-color: #333333;
	color: #fff;
	font: 22px/1.3 'Alegreya', serif;
	margin: 0;
	padding: 5px 10px;
}
	
.business_rate_review {
	margin: 20px;
	overflow: auto;
}

.business_review {
	float: left;
	padding: 0 10px 0 0;
	width: 80%;
}
	
.business_rate {
	float: right;
	padding: 0 0 0 10px;
	width: 20%;
}
	
.business_review_username {
	border: 1px solid #cccccc;
	width: 100%;
}
	
.business_review_text {
	border: 1px solid #cccccc;	
	resize: none;
	width: 100%;
}
	
.business_rate_h5 {
	margin: 20px 0;
	text-align: center;
}
	
.rate_span {
	display: block;
	margin-right: 20px;
}
	
/* =Business footer module */
	
.business_footer_module {
	margin-top: 20px;
	overflow: auto;
}
	
.business_footer_module_ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
	
.business_footer_module_li {
	display: inline;
}
	
.business_footer_module_trigger, .business_footer_module_trigger:hover, .business_footer_module_trigger:active, .business_footer_module_trigger:visited, .business_footer_module_trigger:focus {
	display: inline-block;
	border: 1px solid #cccccc;
	border-bottom: 0;
	background: #333333;
	color: #ffffff;
	padding: 5px 10px;
	margin: 0 0 -1px 0;
	text-decoration: none;
	cursor: pointer;
}
	
.footer_trigger_1 {
	
}
	
.footer_trigger_2, .footer_trigger_2:active, .footer_trigger_2:hover, .footer_trigger_2:visited, .footer_trigger_2:focus {
	border-left: 0;
}
	
.footer_trigger_active {
	background: #ffffff !important;
	color: #333333 !important;
}
	
.business_footer_module_sheet_wrapper {
	background: #ffffff;
	color: #333333;
	border: 1px solid #cccccc;
}
	
.business_footer_module_sheet {
	margin: 20px;
	display: none;
	overflow: auto;
}
	
.footer_sheet_active {
	display: block;
}
	
.footer_sheet_buttons {
	width: 30%;
	float: left;
}

.fotter_sheet_buttons_ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}	
	
.fotter_sheet_buttons_li {
}
	
.fotter_sheet_buttons_link, .fotter_sheet_buttons_link:hover, .fotter_sheet_buttons_link:active, .fotter_sheet_buttons_link:visited, .fotter_sheet_buttons_link:focus {
	display: block;
	background: #333333;
	color: #ffffff;
	padding: 5px 10px;
	margin: 0;
	border: 1px solid #cccccc;
	text-decoration: none;
	cursor: pointer;
	border-top: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
		
.footer_sheet_numbers {
	width: 65%;
	float: right;
	display: none;
}
	
.sheet_numbers_active {
	display: block;
}
	
.footer_sheet_numbers_ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
	
.footer_sheet_numbers_li {
	width: 33%;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
	
.footer_sheet_numbers_link, .footer_sheet_numbers_link:active, .footer_sheet_numbers_link:hover, .footer_sheet_numbers_link:visited, .footer_sheet_numbers_link:focus {
	color: #333333;
	text-decoration: none;
}
	
/* =Right menu module */
	
.right_menu_module {
    background-color: #ffffff;
    border: 1px solid #cccccc;
	margin: 20px 20px 0 0;
	position: static;
	text-align: center;
    width: 300px;
}
	
.right_menu_logo {
	margin: 20px;
}
	
.right_menu_logo_img {
	width:100%;
}
	
.right_menu_search_text {
	border: 1px solid #cccccc;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	border-right: none;
	display: inline-block;
	padding: 5px;
	width: 180px;
}
	
.right_menu_search_button {
	background: #333333;
	border: 1px solid #cccccc;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	box-shadow: none;
	color: #ffffff;
	display: inline-block;
	margin-left: -4px;
	padding: 5px;
	width: 70px;
}
	
.right_menu_search_button:hover {
	color: #6075a6;
}
	
.right_menu_info {
	margin: 20px;
}
	
.basic_info_li_a {
	background: #f3f3f3;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	padding: 5px;
	text-align: left;
}
	
.basic_info_li_b {
	border: 1px solid #ccc;
	border-top: 0;
	padding: 5px;
}
	
.basic_info_li_c {
	background: #f3f3f3;
	border: 1px solid #ccc;
	border-top: 0;
	padding: 5px;
	text-align: left;
}
	
.basic_info_li_d {
	border: 1px solid #ccc;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	border-top: 0;
	padding: 5px;
}
	
.right_menu_adspace {
	border: 1px solid #cccccc;
	margin: 20px;
}
	
.right_menu_adspace_img {
	width: 100%;
}
	
.right_menu_quickmenu {
	margin: 20px;
}
	
.quickmenu_button_a {
	background: #333333;
	border: 1px solid #cccccc;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	color: #ffffff;
	display: block;
	padding: 5px;
}
	
.quickmenu_button_a:hover {
	color: #6075a6;
	text-decoration: none;
}
	
.quickmenu_button_b {
	background: #333333;
	border: 1px solid #cccccc;
	border-top: 0;
	color: #ffffff;
	display: block;
	padding: 5px;
}
	
.quickmenu_button_b:hover {
	color: #6075a6;
	text-decoration: none;
}
	
.quickmenu_button_c {
	background: #333333;
	border: 1px solid #cccccc;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	border-top: 0;
	color: #ffffff;
	display: block;
	padding: 5px;
}
	
.quickmenu_button_c:hover {
	color: #6075a6;
	text-decoration: none;
}
	
.right_menu_button {
	background: #333333;
	border: 1px solid #cccccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #ffffff;
	display: block;
	margin: 0 20px;
	padding: 10px;
}
	
.right_menu_button:hover {
	color: #6075a6;
	text-decoration: none;
}
	
.right_menu_ribbon {
	margin: 20px 0 10px 0;
}
	
.ribbon_h5 {
	background: #333333;
	color: #ffffff;
	margin: 0 0 10px 0;
	padding: 5px;
}
	
.ribbon_icon_link_f {
	color: #333333;
	margin: 0 10px 0 0;
}
	
.ribbon_icon_link_f:hover {
	color: #6075a6;
	text-decoration: none;
}
	
.ribbon_icon_link_t {
	color: #333333;
}
	
.ribbon_icon_link_t:hover {
	color: #00aced;
	text-decoration: none;
}
	
.ribbon_icon_link_e {
	color: #333333;
	margin: 0 0 0 10px;
}
	
.ribbon_icon_link_e:hover {
	color: #d9534f;
	text-decoration: none;
}
	
/* =Layout */
	
.col-md-7 {
	margin: 20px 0;
}
	
.galleria-theme-classic {
	background: #333333;
}
	
/* =Responsive */
	
@media screen and (max-width: 992px) {
    .right_menu_module {
        display: none;
    }
}
	
@media screen and (max-width: 660px) {
    .business_profile_body {
        display: none;
    }
}