@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
@import url("//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700");

body {
	background: #f3f3f3;
}

.dnp_clear {
	clear: both;
}

.dnp_comments_module {
	overflow: auto;
	margin: 20px 0 0 0;
}

.dnp_comments_module_wrapper {
	overflow: auto;
}

.dnp_comments_module_h4 {
	background: #333333;
	color: #ffffff;
	margin: 0;
	padding: 5px 10px;
	font: 20px/1.3 'Alegreya', serif;
	border-radius: 0 25px 0 0;
}

.dnp_comments_module_pagination {
	background: #ffffff;
	border: 1px solid #cccccc;
}

.dnp_comments_module_pagination_previous {
	width: 50%;
	float: left;
	text-align: right;
	padding: 10px 10px 10px 0;
}

.dnp_comments_module_pagination_next {
	width: 50%;
	float: right;
	padding: 10px 0 10px 10px;
}

.dnp_comments_module_ul {
	list-style-type: none;
	padding: 0;
}

.dnp_comments_module_li {
	overflow: auto;
	background: #ffffff;
	margin: 20px 0;
	border: 1px solid #cccccc;
}

.dnp_comment_h3 {
	font: 18px/1.3 'Alegreya', serif;
	background: #333333;
	color: #ffffff;
	padding: 5px 10px;
	margin: 0;
}

.dnp_module_comment_time {
	text-align: right;
	margin: 3px 3px;
}

.dnp_comment_time {
	margin: 0;
	padding: 0;
	font-size: 10px;
}

.dnp_module_comment_text {
	margin: 10px 20px;
}

.dnp_module_comment_buttons {
	border-top: 1px solid #cccccc;
}

.dnp_votes_number {
	display: inline;
}

.dnp_votes_buttons {
	display: inline;
	margin: 0 10px;
}

.dnp_module_comment_votes {
	width: 50%;
	float: left;
	text-align: left;
	padding: 10px 0 10px 10px;
}

.dnp_module_comment_reply_button {
	width: 50%;
	float: right;
	padding: 10px 10px 10px 0;
	text-align: right;
}

.dnp_comments_module_bottom {
	height: 42px;
	overflow: auto;
	background: #333333;
	border-radius: 0 0 25px 25px;
}

.dnp_comments_button_format {
	padding: 5px 10px;
	background: #333333;
	box-shadow: none;
	border: 1px solid #cccccc;
	color: #ffffff;
	border-radius: 4px;
}

.dnp_comments_button_format_v2 {
	padding: 5px 10px;
	background: #333333;
	box-shadow: none;
	border: 1px solid #cccccc;
	color: #ffffff;
	border-radius: 4px;
	width: 80px;
}

.dnp_comments_button_format_v2:hover {
	padding: 5px 10px;
	background: #ededed;
	box-shadow: none;
	border: 1px solid #333333;
	color: #333333;
	border-radius: 4px;
	width: 80px;
	transition: all 0.5s linear;
}

.dnp_green_button:hover {
	background: green;
	transition: all 1s linear;
	border: 1px solid #333333;
}

.dnp_red_button:hover {
	background: red;
	transition: all 1s linear;
	border: 1px solid #333333;
}

.dnp_hashtag {
	background: #ededed;
	padding: 2px 5px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}