html, body, .containter-fluid, .mob_site, .row, .col-md-6, .mobiletable {
    min-height: 100% !important;
    height: 100%;
    min-width: 100% !important;
    width: 100%;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.col-md-6 {
    padding: 0px;
}

.mob_site {
    display: none;
    
}

.navbar-default {
    background-color: #428bca;
    height: 20%;
    max-height: 50px;
}

div.col-md-6 > nav > div {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.navbar {

}

nav.navbar-default {
    height: 20px;
    margin-bottom: 0px;
}

nav.navbar.navbar-default.navbar-fixed-top > div > div > strong {
    color: #fff;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
}

.loved {
    color: red;
}

.nidetop {
    background-color: #428bca;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    position: relative;
	top: 50%;
	transform: translateY(-50%)
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (max-width: 960px) {
    .mob_site {
        display: block;
        
    }
}