html, body, .containter-fluid, .mob_site, .row, .col-md-6 {
    min-height: 100% !important;
    height: 100%;
    min-width: 100% !important;
    width: 100%;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.col-md-6 {
    padding: 0px;
}

.mob_site {
    display: none;  
}

.navbar-default {
    background-color: #428bca;
    height: auto;
    border: 0;
}

div.col-md-6 > nav > div {
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.navbar {
    border: 0;
}

nav.navbar-default {
    margin-bottom: 0px;
    min-height: 34px;
}

nav.navbar.navbar-default.navbar-fixed-top > div > div > strong {
    color: #fff;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
}

.loved {
    color: red;
}

.input-group {
    width:100%;
}
.input-group-btn {
    width: 40px !important;
}

body {
    padding-top: 41px;
    padding-bottom: 45px;
}

div.btn-group {
    margin: 5px 0;
}

/* mobile content */

.mobilecontent {
    height: 200px;
}

.mobilecontent > form {
    margin: 15px;
}

.mobilecontent > p {
    padding: 15px;
    margin: 0;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
}

.mobilecontent > p > strong {
    text-transform: uppercase;
}

.firstp {
    background-color: green;
}

.secondp {
    background-color: red;
}

.thirdp {
    background-color: yellow;
}

/*  */

@media screen and (max-width: 960px) {
    .mob_site {
        display: block;
        
    }
}