body {
    background-color: #f3f3f3;
}

div.header {
    background-color: #fff;
    padding: 0;
    margin: 20px 0;
    border: 1px solid #6075a6;
    -moz-border-radius: 25px 25px 0 0;
    -webkit-border-radius: 25px 25px 0 0;
    border-radius: 25px 25px 0 0;
    -khtml-border-radius: 25px 25px 0 0;
    overflow: auto;
}

div.header > div.htitle > h1 {
    background-color: #6075a6;
    color: #f3f3f3;
    padding: 10px;
    margin: 0;
    font-size: 25px;
    text-align: center;
    -moz-border-radius: 25px 25px 0 0;
    -webkit-border-radius: 25px 25px 0 0;
    border-radius: 25px 25px 0 0;
    -khtml-border-radius: 25px 25px 0 0;
}

div.header > div.larea {
    width: 28.83506343713956%;
    margin: 1.153402537485582%;
    padding: 0;
    float: left;
}

div.header > div.larea > img {
    border: 0;
    width: 100%;
}

div.header > div.larea > div.stats {

}

div.header > div.larea > div.stats > ul {
    margin: 10px;
}

div.header > div.larea > div.stats > ul > li.statsA, div.header > div.larea > div.stats > ul > li.statsC {
    background-color: #6075a6;
    color: #f3f3f3;
    text-align: center;
}

div.header > div.rarea {
    width: 66.55132641291811%;
    float: right;
    margin: 2.306805074971165% 2.306805074971165% 0 0;
}

div.header > div.rarea > ul > li.telefonA {
    background-color: #6075a6;
    color: #f3f3f3;
}

div.header > div.rarea > ul > li.telefonA > a {
    text-decoration: none;
    color: #f3f3f3;
}

div.header > div.rarea > ul > li.telefonF {
    background-color: #6075a6;
    color: #f3f3f3;
}

div.header > div.rarea > div.feedback {
    text-align: center;
    margin-bottom: 20px;
}

div.header > div.rarea > div.feedback > div > button {
    background-color: #6075a6;
}

div.gmap {
    clear: both;
    border-top: 1px solid #6075a6;
    width: 100%;
}

div.gmap > img {
    width: 100%;
}

div.adspace {
    border: 1px solid #6075a6;
}

div.adspace > img {
    width: 100%;
}

div.content {
    margin: 20px 0;
    border: 1px solid #6075a6;
    height: 50px;
}