#the_lights{
    background-color:#000;
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    display:none;
}

/* */

.typehead {
    text-align: center;
    margin:10px 0px 10px 0px;
}

.theSelector {
    vertical-align: middle;
    width: 100%;
    margin: 0px;
}
