.t_breadcrumb_zone_comments a {
	color: #fb9351 !important;
}

.h1_profile {
    font-weight: bold;
	margin: 0px;
	padding: 0.5em 0 0 0;
	line-height: 1em;
}

.t_heading_zone_span_descr {
	display: inline;
}

.t_upper_body_right_btn_container button {
	border-radius: 10px;
}

.t_upper_body_right_btn_container button:hover {
	color: #fb9351 !important;
}

.t_breadcrumb_zone_breadcrumbs {
	font-size: 15px;
	line-height: 1em;
	padding: 10px 0;
}

#comments_content > h4 {
	color: #585a5e;
	border-color: #585a5e;
}


#comments .comment-box {
	border-color: #585a5e;
}

.comment-button {
	background: #6075a6;
	color: #ffffff;
	border-radius: 10px;
}

.comment-button:hover {
	color: #fb9351 !important;
}

.reply-comment-btn {
	background: #6075a6 !important;
	color: #ffffff !important;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 300;
	border: 1px solid #cccccc !important;
	border-radius: 5px;
	position: relative;
	top: 55px;
}

.reply-comment-btn:hover {
	color: #fb9351 !important;
}

.comment_vote_wrapper {
	float: right;
}

/* */

#rich_snippets {
	padding: 0;
}

.rs_ribbon {
	text-align: center;
	padding: 5px;
}

.rs_stars_wrapper {
	text-align: center;
}

.t_comment_richsnippets {
	padding: 5px 10px;
}

div.comment-wrapper > p{
	margin: 0;
}

/* */

.social_ribbon_armin {
	margin: 10px 0 0 0;
}