@import url("minified_bootstrap_components.css");

body {
    padding-top: 50px;
}

/* Menu mockup */

.navbar {
    background-color: #333333;
    border-bottom: 1px solid #ccc;
}

.navbar-brand {
    color: #fff !important;
}

.navbar a {
    color: #fff !important;
}