/* Comments area MOCKUP start */

div.comments_navigation {
    width: 100%;
    font-size: 25px;
    overflow: auto;
}

div.comments_navigation span {
}

div.comments_navigation span:before {
    background: none;
}

div.comments_previous {
    width: 50%;
    float: left;
    text-align: right;
    padding: 10px 20px;
    color: #6075a6;
    line-height: 1;
}

div.comments_next {
    width: 50%;
    float: right;
    text-align: left;
    padding: 10px 20px;
    color: #6075a6;
    line-height: 1;
}

li.comment {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -moz-border-radius: 0 10px 10px 10px;
    -webkit-border-radius: 0 10px 10px 10px;
    border-radius: 0 10px 10px 10px;
    -khtml-border-radius: 0 10px 10px 10px;
}

div.comment_info {
    border-bottom: 1px solid #cccccc;
    overflow: auto;
}

div.comment_title {
    width: 80%;
    float: left;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.3;
    border-right: 1px solid #cccccc;
}

div.comment_tags {
    width: 20%;
    float: right;
    font-size: 18px;
    padding: 10px;
    line-height: 1.3;
    text-align: center;
}

div.comment_content {
    clear: both;
    overflow: auto;
    border-bottom: 1px solid #ccc;
}

div.comment_text {
    width: 80%;
    padding: 20px;
    float: left;
    border-right: 1px solid #ccc;
    height: 200px;
    overflow-y: scroll;
}

div.comment_hashtags {
    width: 20%;
    float: right;
    padding: 10px;
    overflow-y: auto;
    height: 200px;
}

div.hashtag_span {
    margin: 10px 0;
    border: 1px solid #ccc;
    display: block;
    background-color: #f5f5f5;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    font-size: 12px;
    line-height: 1.3;
    overflow: hidden;
    max-height: 34px;
}

div.hashtag_span span {
    padding: 10px;
    border-right: 1px solid #ccc;
    margin-right: 10px;
}

div.comment_ribbon {
    clear: both;
    overflow: auto;
}

div.data_ribbon {
    width: 70%;
    float: left;
    margin: 20px 10px;
    font-size: 14px;
    line-height: 1.3;
}

div.positive_votes, div.negative_votes, div.calendar_date, div.replies {
    display: inline;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f3f3f3;
}

div.positive_votes:hover, div.negative_votes:hover, div.calendar_date:hover, div.replies:hover {
    background-color: #fff;
    cursor: pointer;
}

div.positive_votes {
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    -khtml-border-radius: 10px 0 0 10px;
}

div.negative_votes, div.calendar_date, div.replies {
    border-left: 0;
}

div.replies {
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
    -khtml-border-radius: 0 10px 10px 0;
}

div.reply_ribbon {
    width: 20%; 
    float: right;
    text-align: right;
    padding: 10px;
    text-align: center;
    background: none;
}

div.reply_ribbon button {
    padding: 10px;
    width: 100px;
    color: #ffffff !important;
    font-size: 14px !important;
    line-height: 1.3;
    border: 0 !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    background-color: #000000 !important;
}

/* Comments are MOCKUP end */