body {
    background-color: #f3f3f3;
}

div.new_comment_header {
    background-color: #6075a6;
    height: 62px;
    color: #fff;
    overflow: auto;
}

div.new_comment_header > h4 {
    float: left;
    padding: 10px;
    font-size: 20px;
}

div.new_sort_selector {
    float: right;
    padding: 21px;
}

div.new_sort_selector > select { 
    color: #000000;
}

div.previous, div.next {
    height: 25px;
    width: 25px;
}

ol {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
}

ol > li {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    margin: 20px;
    padding: 0;
}

div.avatar-box {
    display: none;
}

h3.comment-author.vote_down {
    color: red;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid #cccccc;
}

h3.comment-author.vote_up {
    color: red;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid #cccccc;
}

div.comment-date {
    font-size: 10px;
    text-align: right;
    padding: 5px;
}

div.new_comment_content {
    width: 100%;
    padding: 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

div.new_reply_button {
    float: right;
    text-align: center;
    margin: 8px 0;
    width: 20%;
}

span.hshtg {
    padding: 3px; 
    background-color: #6075a6;
    color: #fff;
    border: 1px solid #cccccc;
    font-size: 10px;
}

div.new_comment_rating {
    float: left;
    width: 80%;
    text-align: center;
    margin: 0;
    border-right: 1px solid #cccccc;
}

ul.ratings {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.ratings > li {
    margin: 0;
    padding: 5px;
    display: inline;
}

button.comment_vote_up {
    margin: 0;
    padding: 0;
    color: green;
    border: 0;
    background-color: #fff;
    font-size: 15px;
    margin: 15px 0 15px 15px;
}

button.comment_vote_down {
    margin: 0;
    padding: 0;
    color: red;
    border: 0;
    background-color: #fff;
    font-size: 15px;
    margin: 15px 0 15px 15px;
}

div.positive_votes {
    width: 120px;
    float: left;
    border-right: 1px solid #ccc;
}

div.negative_votes {
    width: 120px;
    float: left;
    border-right: 1px solid #ccc;
}

div.new_clear {
    clear: both;
}

button.btn-primary {
    background-color: #6075a6;
}

div.new_social_icons {
    float: right;
    padding: 9px 10px 8px 010px;
}