/* =Imports */

@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans|Alegreya:700");

/* =Base */

.home_page_div {
	font: 14px/1.3 'Open Sans', sans-serif !important;
	text-shadow: none !important;
}

#google_map {
	width: 100%;
	z-index: 0;
}

#app_panel {
	z-index: 1;
}

/* =Main page */

.mnp_header {
	z-index: 1;
}

.mnp_header_h1 {
	font: 18px/1.3 'Alegreya', serif;
	text-align: center;
	padding: 5px 10px;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	background: #333333;
	color: #ffffff;
	display: block;
	width: 100%;
	z-index: 1;
}

.mnp_content_search_box {
	position: absolute;
	top: 50px;
	z-index: 1;
	width: 80%;
}

.mnp_content_search_form_input {
	border: 1px solid #333333;
	border-right: 0;
	width: 70%;
	padding: 5px 10px;
	margin: 0;
	border-radius: 10px 0 0 10px;
}

.mnp_content_search_form_button {
	border: 1px solid #333333;
	padding: 5px;
	width: 20%;
	margin: 0 0 0 -4px;
	background: #333333;
	color: #ffffff;
}

.mnp_content_search_box_help {
	text-align: right;
}

.mnp_content_search_box_help_link, .mnp_content_search_box_help_link:hover, .mnp_content_search_box_help_link:visited, .mnp_content_search_box_help_link:active, .mnp_content_search_box_help_link:focus {
	color: #d9534f !important;
	text-decoration: none !important; 
	margin: 5px 5px 0 0 !important;
	padding: 0 !important;
}

.mnp_footer {
	z-index: 1;
	color: #ffffff;
	background: #333333;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

.mnp_footer_menu {
	width: 20%;
	float: left;
	display: inline-block;
	z-index: 2;
}

.mnp_footer_menu_i {
	background: #333333;
	color: #ffffff;
	margin: 8px 10px 7px 10px;
	font-size: 18px;
	z-index: 2;
}

.mnp_footer_copyright {
	color: #ffffff;
	background: #333333;
	width: 80%;
	float: right;
	display: inline-block;
	text-align: right;
}

.mnp_footer_copyright_p {
	font: 10px/1.3 'Open Sans', sans-serif !important;
	padding: 0;
	margin: 9px 20px;
}

.mnp_hidden_menu {
	z-index: 1;
	position: absolute;
	bottom: 33px;
	left: 0;
	background: #333333;
	width: 100%;
	overflow: hidden;
	height: 0;
}

.mnp_hidden_menu_ul {
	list-style-type: none;
	padding: 0;
	margin: 20px;
}

.mnp_hidden_menu_li {
}

.mnp_hidden_menu_link, .mnp_hidden_menu_link:hover, .mnp_hidden_menu_link:active, .mnp_hidden_menu_link:visited, .mnp_hidden_menu_link:focus {
	font: 18px/1.3 'Open Sans', sans-serif !important;
	color: #ffffff !important;
	text-decoration: none !important;
}

/* */

.business_page_div {
	background: #ededed;
	text-shadow: none !important;
	font: 14px/1.3 'Open Sans', sans-serif !important;
}

#business_google_map {
	border-bottom: 1px solid #333333;
}

.business_google_map_overlay {
	position: absolute;
	top: 33px;
	left: 0;
	width: 100%;
}

.business_google_map_overlay_h2 {
	padding: 5px;
	margin: 5px;
	background: #ededed;
	color: #333333;
	border: 1px solid #333333;
}

.mnp_business_info {
	width: 100%;
}

.mnp_business_info_ul {
	margin: 0;
	list-style-type: none;
	padding: 0 20px 0 5px;
}

.mnp_business_info_li {
	padding: 5px 10px;
	margin: 0;
	background: #333333;
	color: #ffffff;
	display: inline-block;
}

.mnp_business_content {
	margin: 20px;
}

.mnp_business_button {
	width: 100%;
}

.mnp_business_button_link, .mnp_business_button_link:hover, .mnp_business_button_link:active, .mnp_business_button_link:visited, .mnp_business_button_link:focus {
	background: #333333 !important;
	color: #ffffff !important;
	padding: 10px;
	border-radius: 10px;
	text-decoration: none !important;
	display: block;
	text-align: center;
}

/* =Help page */

.help_page_div {
	color: #ffffff;
	background: #333333;
	font: 12px/1.3 'Open Sans', sans-serif;
	text-shadow: none !important;
}

.mnp_help_page_h1 {
	font: 18px/1.3 'Open Sans', sans-serif;
	padding: 5px 20px;
	margin: 0;
}

.mnp_help_page_p {
	margin: 20px;
}

.mnp_help_page_p_bold {
	margin: 20px;
	font-weight: bold;
}

.mnp_help_page_button_div {
	text-align: center;
}

.mnp_help_page_button {
	color: #ffffff !important;
	background: #333333 !important;
	border: 1px solid #cccccc;
	text-decoration: none !important;
	padding: 10px;
	width: 100px;
	margin: 0;
	display: inline-block;
}