/* =Base */

body {
	font: 16px/1.3 'Open Sans', sans-serif;
}

/* =Modules */

.ni-logo {
	text-align: center;
}

/* =Layout */

.fixed_bottom {
	bottom: 0;
	position: fixed;
	width: 100%;
}

/* =reskinning */

.ui-header .ui-title {
	margin: 0 10px;
	text-align: right;
}

/* =responsive */

@media screen and (max-width: 600px) {

}

@media screen and (min-width: 600px) {

}