/* Importing styles */

@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
@import url("//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700");

/* Base */

.digits_body {
	background: url(/gateway_wireframe/background_full_.jpg) no-repeat center center fixed; 
	background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	-webkit-background-size: cover;
	font: 16px/1.3 'Roboto', sans-serif;
	letter-spacing: normal;
}